// TUP Specific Variables
$color-gris-1				: #c7c7cc;
$color-gris-2				: #bcbdc1;
$color-gris-3				: #c9c8cc;
$color-gris-4				: #757575;
$color-gris-5				: #cbcacf;
$color-gris-6				: #cccbd0;
$color-gris-7				: #cccccc;

$hack-height-map-header     : 48px; 
$height-small-footer		: 40px;
$height-medium-footer		: 55px;
$height-medium-plus-footer	: 60px;
$height-big-footer          : 75px;
$height-very-big-footer		: 100px;
$height-map-header			: 47px;
$height-map-little-footer	: 50px;
$height-map-bigsmall-footer	: 85px;
$height-map-big-footer		: 90px;